

.SeccionPrincipal main .letrero_promocional_1{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    color: rgb(229, 25, 157);
}



.SeccionPrincipal main .imagenes {

    width: 100%;
    display: flex;
    justify-content: space-around;
}

.SeccionPrincipal main .imagenes  img{
    height: 220px;
    margin: 100px 70px 20px 70px;
}

.SeccionPrincipal main .precios{
    display: flex;
    justify-content: space-around;
}